<header id="header" style="font-size: 18px ;color: black; "  >
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif" >
            CONNECT ME
            <i class="fas fa-sign-language"></i>

        </h1>
        <ul>
            <% if (locals.user){ %>
                <li style="list-style-type: none; font-size: 20px; color: black;">
                   <a href="/views/recruiter_profile.ejs">
                    
                  
                   </a>
                </li>
                <li style="list-style-type: none;">
                    <a href="/users/sign-out" style="margin-left: 1000px;" ">Sign Out</a>
                </li>


             <%} else { %>
                <li style="list-style-type: none;">
                    <a href="/users/sign-in" style="color:black;margin-left: 950px">Login Page</a>
                </li>
               


             <%} %>


        </ul>
    </header>